input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 1em;
}

.icon {
    font-size: 2rem;
    color: #489ab8;
}

.title {
    font-weight: 700;
    margin: 1rem;
}

.title span {
    font-weight: 700;
    color: #489ab8;
}

.amount {
    min-width: 3rem;
    height: 2.5rem;
    padding-left: 1rem;
    outline: none;
    background-color: #26272b;
    color: #fff;
    font-size: 1rem;

    border: 2px #489ab8 solid;
}